html,
body {
  font-size: 10px;
  padding: 0;
  margin: 0;
  background-color: var(--bg-17);
  max-width: min(100vw , 540px );
  margin: auto;
}

* {
  font-family: 'Poppins', sans-serif !important;
}

#root {
  width: 100%;
  height: 100vh;
}


.custom-bg-image{
  background-image: url('/BGPattern.png');
  background-size: cover;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.text-overflow-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Clamp to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.container-height-fr {
  margin-bottom: 50px;
  overflow: auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}





.drawer__handle-wrapper {
  @apply bg-brandGrey
}

.drawer {}

.drawer__backdrop {}


.drawer__handle {}

.drawer__content {
  @apply bg-brandGrey
}