:root {
  --root-width: min(100vw, 540px);
}

html,
body {
  font-size: 10px;
  padding: 0;
  margin: 0;
  background-color: var(--bg-17);
  width: var(--root-width);
  margin: auto;
}

* {
  font-family: 'Poppins', sans-serif !important;
}

.shadow-bottom {
  box-shadow: 0px 2.945px 2.945px 0px rgba(0, 0, 0, 0.25);
}
#root {
  width: 100%;
  height: 100vh;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.error-border {
  outline: transparent;
  border: 2px solid #ef4444 !important;
}

.height-pop-up{
 max-height: 1000px;
}
.height-pop-down{
 max-height: 0px ;
}

.custom-bg-image {
  background-image: url('/BGPattern.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  z-index: -1;
}
.triangle-right {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid white;
}

.tab-gap {
  gap: min(150px, 20vw);
}

.img-loading {
  color: transparent;
  background: #8f95a4 url('/spinning-loading.gif') center no-repeat;
  background-size: 250% 150%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.overflow-anywhere{
  overflow-wrap: anywhere;
}

.transparent-gradient::before{
  background: linear-gradient(180deg,rgb(255 255 255 / 16%) 0%, rgb(246 247 252 / 86%) 100%);}
.text-overflow-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Clamp to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-overflow-6-lines {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  /* Clamp to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.container-height-fr {
  margin-bottom: 50px;
  overflow: auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.root-w {
  width: var(--root-width);
}


.drawer__handle-wrapper {
  @apply bg-brandGrey
}

.drawer {
  margin: auto;

}

.drawer__backdrop {}


.drawer__handle {}

.drawer__content {
  padding-left: 0px !important;
  padding-right: 0px !important;
  @apply bg-brandGrey
}
