:root {
  --root-width: min(100vw, 540px);
}

html,
body {
  font-size: 10px;
  padding: 0;
  margin: 0;
  background-color: var(--bg-17);
  width: var(--root-width);
  margin: auto;
}

@font-face {
  font-family: 'Poppins-custom-abc';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins-custom-abc';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins-custom-abc';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.poppins-500{
  font-family: 'Poppins-custom-abc'!important;

}
.poppins-500 * {
  font-family: 'Poppins-custom-abc'!important;

}
* {
  font-family: 'Poppins', sans-serif ;
}
.topborder{
  border-top: 1px solid #a5aab64c;
}
.shadow-bottom {
  box-shadow: 0px 2.945px 2.945px 0px rgba(0, 0, 0, 0.25);
}
#root {
  width: 100%;
  height: 100vh;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.error-border {
  outline: transparent;
  border: 2px solid #ef4444 !important;
}

.height-pop-up{
 max-height: 1000px;
}
.height-pop-down{
 max-height: 0px ;
}

.custom-bg-image {
  background-image: url('/BGPattern.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  z-index: -1;
}
.triangle-right {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid white;
}

.tab-gap {
  gap: min(100px, 20vw);
}

.img-loading {
  color: transparent;
  background: #8f95a4 url('/spinning-loading.gif') center no-repeat;
  background-size: 250% 150%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.overflow-anywhere{
  overflow-wrap: anywhere;
}

.transparent-gradient::before{
  background: linear-gradient(180deg,rgb(255 255 255 / 16%) 0%, rgb(246 247 252 / 86%) 100%);}
.text-overflow-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Clamp to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-overflow-6-lines {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  /* Clamp to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.container-height-fr {
  margin-bottom: 50px;
  overflow: auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.root-w {
  width: var(--root-width);
}


.drawer__handle-wrapper {
  @apply bg-brandGrey
}

.drawer {
  margin: auto;

}

.drawer__backdrop {}


.drawer__handle {}

.drawer__content {
  padding-left: 0px !important;
  padding-right: 0px !important;
  @apply bg-brandGrey
}

.social-icons-collection {
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);
}

.hover-zoom {
  @apply transition ease-in-out duration-300 hover:scale-110
}